/* base */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: .2s;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

html,
body {
    line-height: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #fff;
}

a,
a:hover {
    cursor: pointer !important;
    color: #fff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    cursor: pointer !important;
}

input:hover,
button:hover {
    cursor: pointer !important;
    border: 0;
    outline: none;
}

input:focus,
button:focus {
    cursor: pointer !important;
    box-shadow: none !important;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 10px 0 10px;
}

@media (max-width: 1450px) {
    .container {
        max-width: 1400px;
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
        padding: 0 15px 0 15px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
        padding: 0 20px 0 20px;
    }
}

.btn-red {
    padding: 15px 0;
    background: #CE2F27;
    box-shadow: -1px 1px 2px rgba(98, 35, 35, 0.2), 1px -1px 2px rgba(98, 35, 35, 0.2), -1px -1px 2px rgba(255, 141, 141, 0.9), 1px 1px 3px rgba(98, 35, 35, 0.9), inset 1px 1px 2px rgba(255, 141, 141, 0.3), inset -1px -1px 2px rgba(98, 35, 35, 0.5);
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #FFFFFF;
    transition: 0.3s;
}

.btn-red:hover {
    box-shadow: rgb(53, 41, 226, 0.5);
    transition: 0.3s;
    background: #3529e2;
    border-radius: 0px;
}

.btn-red:focus {
    box-shadow: rgb(53, 41, 226, 0.5);
    transition: 0.3s;
    background: #3529e2;
    border-radius: 0px;
}

.general-title {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 105%;
    color: #CE2F27;
}

@media (max-width: 992px) {
    .general-title {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .general-title {
        font-size: 30px;
    }
}


/* base */


/* header */

.header {
    background: #142239;
    z-index: 0;
}

.navigation {
    margin-bottom: 70px;
}

.nav-number {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
}

.nav-number::before {
    position: absolute;
    display: table;
    content: '';
    top: 0px;
    left: -40px;
    width: 32px;
    height: 32px;
    background-image: url(../img/header/mini-phone.png);
}

.magnit {
    max-height: 560px;
    z-index: -1;
    bottom: 50px;
    right: 0;
}

.header-title {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100.01%;
    width: 700px;
}

.header-title span {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 65px;
}

.header-list {
    margin-bottom: 65px;
}

.list__item {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 110%;
}

.list__item::before {
    position: absolute;
    display: table;
    content: '';
    top: 5px;
    left: -30px;
    width: 22px;
    height: 22px;
    background-image: url(../img/header/check.svg);
}

.header-info {
    margin-bottom: 120px;
}

.header-btn {
    width: 360px;
}


/* header */


/* advantages */

.advantages {
    margin-top: 100px;
    margin-bottom: 130px;
}

.advantages-title {
    margin-bottom: 60px;
}

.advantages__item {
    max-width: 360px;
}

.advantages__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: #142239;
}

.advantages__info {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #142239;
    max-width: 360px;
}

.advantages-btn {
    width: 330px;
    height: 60px;
    transform: translateX(5%);
}

.plane {
    z-index: 100;
    right: 0;
    bottom: -190px;
}


/* advantages */

.dfdf {
    position: fixed;
    width: 100%;
    max-width: inherit;
}


/* about-us */

.about-us {
    margin-bottom: 95px;
    padding: 30px 0 50px 0;
    background: #F4F9FF;
}

.about__item {
    margin-right: 155px;
}

.about-title {
    margin-bottom: 85px;
}

.about-info {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130.19%;
    color: #142239;
    max-width: 740px;
}


/* about-us */


/* cases */

.cases {
    margin-bottom: 85px;
}

.title-cases {
    width: 435px;
    transform: rotate( -90deg);
    left: -30px;
    top: 160px;
}

.cases-nubber {
    background: #F4F9FF;
    border-radius: 5px;
    width: 156px;
    text-align: center;
    padding: 7px 0;
}

.title-cases__mobile {
    color: #ED5B65;
    margin-bottom: 80px;
    text-align: center;
}

.cases-block {
    margin-bottom: 90px;
}

.block__cities {
    height: 340px;
    position: sticky;
    top: 0;
    margin-right: 170px;
    padding-top: 25px;
}

.cities-title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #142239;
    margin-bottom: 70px;
}

.applications-per-month__item {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 110%;
    color: #142239;
}

.block-statistics img {
    padding: 30px;
    background: #F4F9FF;
    border-radius: 10px;
}


/* cases */


/* working */

.working {
    padding-top: 70px;
    padding-bottom: 95px;
    margin-bottom: 80px;
    background: #F4F9FF;
}

.working-title {
    margin-bottom: 120px;
}

.stages {
    margin-bottom: 100px;
}

.stages-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #142239;
}

.stages-text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #142239;
    width: 340px;
}

.working-btn {
    width: 400px;
    display: block;
}

.next-stages {
    right: -40px;
    top: 35px;
}


/* working */


/* contacts */

.contacts {
    padding-bottom: 80px;
}

.contacts-text {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #293352;
    width: 705px;
}

.messenger-item {
    margin-right: 110px;
}

.social {
    transition: 0.4s;
}

.social:hover {
    transition: 0.4s;
    transform: scale(1.08);
}

.contacts-number {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #EF4F45;
    transition: 0.4s;
}

.contacts-number:hover {
    transition: 0.4s;
    transform: scale(1.02);
    color: #EF4F45;
}

.important {
    padding: 65px 30px 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.important-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #CE2F27;
}

.important-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #142239;
}

.important-text span {
    font-weight: 700;
}


/* contacts */


/* footer */

.footer {
    padding: 40px 0;
    background: #142239;
}

.footer-text {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
}


/* footer */