@media (max-width: 1700px) {
    /* advantages */
    .plane {
        width: 480px;
        bottom: -100px;
    }
    /* advantages */
    /* cases */
    .title-cases {
        left: -130px;
    }
    /* cases */
}

@media (max-width: 1600px) {
    /* header */
    .magnit {
        width: 670px;
        bottom: 90px;
    }
    /* header */
    /* advantages */
    .plane {
        width: 350px;
        bottom: -40px;
    }
    /* advantages */
    /* about-us */
    /* about-us */
    /* cases */
    .title-cases {
        left: -180px;
    }
    .block__cities {
        margin-right: 100px;
    }
    /* cases */
    /* working */
    /* working */
    /* footer */
    /* footer */
}

@media (max-width: 1450px) {
    /* header */
    .navigation {
        margin-bottom: 40px;
    }
    .logo-big {
        width: 250px;
    }
    .header-title {
        font-size: 40px;
        width: 540px;
    }
    .header-title span {
        font-size: 55px;
        line-height: 50px;
    }
    .header-info {
        margin-bottom: 65px;
    }
    .header-list {
        margin-bottom: 65px;
    }
    .list__item {
        font-size: 25px;
        line-height: 105%;
    }
    .list__item::before {
        top: 1px;
    }
    .magnit {
        width: 570px;
        bottom: 55px;
    }
    /* header */
    /* advantages */
    .advantages__item {
        max-width: 285px;
    }
    .advantages__subtitle {
        font-size: 18px;
    }
    .advantages__info {
        font-size: 16px;
        line-height: 20px;
        max-width: 285px;
    }
    .advantages-btn {
        width: 285px;
    }
    .advantages__item--top img {
        width: 65px;
    }
    /* advantages */
    /* about-us */
    /* about-us */
    /* cases */
    .block__cities {
        height: 310px;
        width: 285px;
        margin-right: 75px;
    }
    .cases-nubber {
        width: 130px;
    }
    .applications-per-month__item {
        font-size: 20px;
    }
    .cities-title {
        margin-bottom: 45px;
        font-size: 30px;
        line-height: 36px;
    }
    .title-cases {
        width: auto;
        transform: none;
        left: auto;
        top: auto;
        position: inherit !important;
        margin-bottom: 70px;
    }
    /* cases */
    /* working */
    .next-stages {
        right: 0;
    }
    /* working */
    /* footer */
    /* footer */
}

@media (max-width: 1399px) {
    .block__cities {
        height: 310px;
        width: fit-content;
        margin-right: 0px;
    }
}

@media (max-width: 1200px) {
    /* header */
    .navigation {
        margin-bottom: 20px;
    }
    .nav-number {
        font-size: 20px;
        line-height: 25px;
    }
    .nav-number::before {
        background-repeat: no-repeat;
        top: 0px;
        left: -30px;
        width: 25px;
        height: 25px;
        background-size: 25px;
    }
    .logo-big {
        width: 190px;
    }
    .header-title {
        font-size: 35px;
        width: 440px;
    }
    .header-title span {
        font-size: 45px;
        line-height: 50px;
    }
    .header-list {
        margin-bottom: 50px;
    }
    .list__item {
        font-size: 20px;
        line-height: 105%;
    }
    .list__item::before {
        top: 2px;
        left: -25px;
        width: 15px;
        height: 15px;
        background-size: 15px;
        background-repeat: no-repeat;
    }
    .header-btn {
        width: 280px;
    }
    .magnit {
        width: 520px;
        bottom: 55px;
    }
    /* header */
    /* advantages */
    .advantages {
        margin-top: 80px;
        margin-bottom: 90px;
    }
    .plane {
        width: 255px;
        bottom: 60px;
    }
    /* advantages */
    /* about-us */
    .about-title {
        margin-bottom: 55px;
    }
    .about__item {
        margin-right: 70px;
    }
    .about-info {
        font-size: 19px;
    }
    .job-woman {
        max-width: 400px;
    }
    /* about-us */
    /* cases */
    .block-statistics img {
        width: 720px;
        padding: 20px;
    }
    /* cases */
    /* working */
    /* working */
    /* footer */
    /* footer */
}

@media (max-width: 1100px) {
    .magnit {
        width: 400px;
        bottom: 88px;
    }
    /* advantages */
    .plane {
        display: none;
    }
    /* advantages */
    /* cases */
    .applications-per-month__item {
        font-size: 16px;
    }
    .block-statistics img {
        width: 640px;
        padding: 10px;
    }
    /* cases */
    /* working */
    .next-stages {
        display: none;
    }
    /* working */
    /* contacts */
    .contacts-title {
        font-size: 60px;
    }
    .contacts-text {
        font-size: 20px;
        line-height: 24px;
        width: 430px;
    }
    .messenger-item {
        margin-right: 40px;
    }
    .contacts-number {
        font-size: 25px;
    }
    .important {
        padding: 30px;
    }
    .important-text {
        width: 220px;
    }
    /* contacts */
}

@media (max-width: 992px) {
    /* header */
    .navigation {
        margin-bottom: 0px;
    }
    .logo-big {
        width: 130px;
    }
    .header-title {
        font-size: 30px;
        width: 390px;
    }
    .header-title span {
        font-size: 40px;
        line-height: 50px;
    }
    .header-list {
        margin-bottom: 45px;
    }
    .list__item {
        font-size: 17px;
        line-height: 105%;
    }
    .list__item::before {
        top: 2px;
        left: -20px;
        width: 12px;
        height: 12px;
        background-size: 12px;
    }
    .magnit {
        bottom: 80px;
    }
    /* header */
    /* advantages */
    .advantages-btn {
        transform: translateX(0%);
    }
    /* advantages */
    /* about-us */
    .about-title {
        margin-bottom: 40px;
    }
    .about-info {
        font-size: 16px;
    }
    .job-woman {
        width: 350px;
    }
    /* about-us */
    /* cases */
    .cases-nubber {
        width: 95px;
    }
    .cities-title {
        margin-bottom: 35px;
        font-size: 24px;
        line-height: 30px;
    }
    .block__cities {
        height: 240px;
    }
    .block-statistics img {
        width: 590px;
    }
    /* cases */
    /* working */
    /* working */
    /* footer */
    /* footer */
    /* modal */
    .modal-dialog {
        max-width: fit-content;
        margin: 1.75rem auto;
    }
    .modal-text__width {
        width: 330px;
    }
    form {
        margin-bottom: 40px;
    }
    /* modal */
}

@media (max-width: 850px) {
    .magnit {
        bottom: 105px;
        width: 315px;
    }
    /* cases */
    .block-statistics img {
        width: 500px;
    }
    /* cases */
    /* contacts */
    .social {
        width: 40px;
    }
    .contacts-number {
        font-size: 16px;
    }
    .contacts-title {
        font-size: 45px;
    }
    .contacts-text {
        font-size: 16px;
        line-height: 19px;
        width: 340px;
    }
    .messenger-item {
        margin-right: 35px;
    }
    .important {
        padding: 25px;
    }
    .important-title {
        font-size: 32px;
        line-height: 36px;
    }
    .important-text {
        width: 195px;
        font-size: 13px;
        line-height: 17px;
    }
    /* contacts */
}

@media (max-width: 767px) {
    /* header */
    .navigation {
        margin-bottom: 15px;
    }
    .logo-mobile {
        width: 80px;
    }
    .magnit {
        bottom: 90px;
        width: 350px;
    }
    /* header */
    /* advantages */
    .advantages {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .advantages-title {
        margin-bottom: 40px;
    }
    /* advantages */
    /* about-us */
    .about__item {
        margin-right: 30px;
    }
    .about-info {
        font-size: 14px;
    }
    .job-woman {
        width: 310px;
    }
    /* about-us */
    /* cases */
    .block-statistics img {
        width: 420px;
    }
    .title-cases {
        margin-bottom: 40px;
    }
    .cities-title {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 25px;
    }
    .cases-nubber {
        padding: 12px 0;
        width: 60px;
    }
    .block__cities {
        height: 190px;
        padding-top: 10px;
    }
    /* cases */
    /* working */
    .working-title {
        margin-bottom: 80px;
    }
    /* working */
    /* comtacts */
    .contacts {
        padding-bottom: 40px;
    }
    .contacts-information {
        margin-bottom: 35px;
        text-align: center;
    }
    .messenger-item {
        margin-right: 0px;
        margin-bottom: 35px;
    }
    /* comtacts */
    /* footer */
    /* footer */
}

@media (max-width: 650px) {
    .magnit {
        bottom: 115px;
        width: 280px;
    }
    /* about-us */
    .about-title {
        margin-bottom: 15px;
    }
    .about-info {
        font-size: 12px;
    }
    .job-woman {
        width: 300px;
    }
    /* about-us */
    /* cases */
    .cities-title {
        font-size: 18px;
        line-height: 23px;
    }
    .block-statistics img {
        width: 330px;
    }
    /* cases */
}

@media (max-width: 575px) {
    /* header */
    .nav-number {
        font-size: 16px;
        line-height: 22px;
    }
    .nav-number::before {
        width: 22px;
        height: 23px;
        background-size: 22px;
    }
    .header-title {
        font-size: 25px;
        width: 270px;
    }
    .header-title span {
        font-size: 35px;
        line-height: 40px;
    }
    .header-list {
        margin-bottom: 220px;
    }
    .list__item {
        width: 250px;
    }
    .list__item::before {
        left: -18px;
    }
    .magnit {
        bottom: 150px;
        width: 440px;
    }
    /* header */
    /* advantages */
    .advantages__item {
        max-width: 230px;
    }
    .advantages__item--top img {
        width: 55px;
    }
    .advantages__subtitle {
        font-size: 15px;
    }
    .advantages__info {
        font-size: 14px;
        line-height: 16px;
        max-width: 230px;
    }
    .advantages-btn {
        width: 230px;
    }
    /* advantages */
    /* about-us */
    .about__item {
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .about-title {
        margin-bottom: 40px;
    }
    .about-info {
        font-size: 14px;
    }
    .job-woman {
        width: 280px;
    }
    .about-us {
        margin-bottom: 30px;
    }
    /* about-us */
    /* cases */
    .cases {
        margin-bottom: 30px;
    }
    .block__cities {
        height: auto;
        position: inherit;
        margin-right: 0px;
        padding-top: 0px;
        margin-bottom: 15px;
    }
    .cities-title {
        font-size: 20px;
        line-height: 25px;
    }
    .block-statistics img {
        width: auto;
    }
    .cases-block {
        margin-bottom: 40px;
    }
    .cases-nubber {
        width: 170px;
    }
    .applications-per-month__item br {
        display: none;
    }
    .applications-per-month__item {
        width: 190px;
    }
    /* cases */
    /* working */
    .working-title {
        margin-bottom: 40px;
    }
    .working {
        padding-top: 35px;
        padding-bottom: 40px;
        margin-bottom: 25px;
    }
    .working-btn {
        width: 320px;
    }
    .stages {
        margin-bottom: 40px;
    }
    /* working */
    /* contacts */
    .contacts-information {
        margin-bottom: 35px;
        text-align: start;
    }
    .contacts-text {
        width: auto;
    }
    .messenger-item {
        margin-bottom: 25px;
    }
    .important {
        padding: 35px;
    }
    .important-text {
        width: 195px;
        font-size: 16px;
        line-height: 19px;
    }
    .contacts-title {
        font-size: 30px;
    }
    .contacts-number {
        font-size: 20px;
    }
    /* contacts */
    /* footer */
    .footer-text {
        font-size: 14px;
        line-height: 125%;
    }
    /* footer */
    /* modal */
    .modal-dialog {
        max-width: 310px;
    }
    .modal-text__width {
        width: 255px;
    }
    .modal-btn {
        width: 100%;
    }
    .modal-thanks {
        width: 310px;
        height: 490px;
    }
    .modal-title {
        font-size: 38px;
    }
    .modal-text {
        font-size: 14px;
        line-height: 16px;
    }
    /* modal */
}

@media (max-width: 425px) {
    .advantages-block {
        align-items: flex-start !important;
    }
    .advantages__item {
        max-width: fit-content;
    }
    .advantages__info {
        max-width: initial;
    }
    /* working */
    .stages-picture {
        width: 75px;
    }
    .stages-title {
        font-size: 16px;
        line-height: 100%;
    }
    .stages-text {
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        width: auto;
    }
    /* working */
}

@media (max-width: 375px) {
    .advantages-btn {
        width: 100%;
    }
    /* working */
    .working-btn {
        width: 100%;
    }
    /* working */
}